<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Github Projects</a>
    <form id="searchForm" class="form-inline mt-md-0 w-100" #searchForm="ngForm" (ngSubmit)="getRepos(searchForm.value)">
      <label class="sr-only" for="txtSearch">Github Username</label>
      <div class="input-group w-100">
        <div class="input-group-prepend">
          <div class="input-group-text">Github Username</div>
        </div>
        <input class="form-control form-control-dark w-75" type="text" name="txtSearch" id="txtSearch" placeholder="Search" aria-label="Search" ngControl="username" required autocomplete="off" pattern="(^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$)" ngModel>
        <div class="input-group-append">
            <button id="btnSearch" class="btn btn-light" type="submit" (click)="searchForm.onSubmit(null)" [disabled]="!searchForm.form.valid" (keyup.enter)="searchForm.onSubmit(null)"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></button>
        </div>
      </div>
    </form>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <app-repo-list *ngIf="username" [username]="username" (onSelectRepo)="onSelectRepo($event)"></app-repo-list>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" *ngIf="selectedrepo">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
          <h1 class="h2">{{selectedrepo.name}}</h1>
        </div>
        <p class="lead text-muted">{{selectedrepo.description}}</p>
        
        <app-commit-list [repo]="selectedrepo" [username]="username"></app-commit-list>
      </main>
    </div>
  </div>