<h2 class="h3">Commits</h2>
<p *ngIf="message">{{message}}</p>
<div class="table-responsive" *ngIf="commits">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
          <th *ngFor="let col of columns; first as isFirst" [ngClass]="{'w-50' : isFirst}">
            {{col}}
          </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of commits" app-commit-item [commit]="c"></tr>
    </tbody>
  </table>
  <nav *ngIf="paging" aria-label="paging">
      <ul class="pagination justify-content-center">
          <li *ngIf="paging['first']" class="page-item">
              <a class="page-link" (click)="loadCommits(paging['first'])">First</a>
          </li>
          <li *ngIf="paging['prev']" class="page-item">
              <a class="page-link" (click)="loadCommits(paging['prev'])">Prev</a>
          </li>
          <li *ngIf="paging['next']" class="page-item">
              <a class="page-link" (click)="loadCommits(paging['next'])">Next</a>
          </li>
          <li *ngIf="paging['last']" class="page-item">
              <a class="page-link" (click)="loadCommits(paging['last'])">Last</a>
          </li>
      </ul>
  </nav>
</div>
